#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"!important;
}
@media(max-width: 639px){
  .container {
    max-width: 300px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 648px!important;
  }
}
.swv-button-trigger {
  border-radius: 30px!important;
  float: right;
  background-color: black!important;
}
.center-items {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.small--text{
  font-size: 12px!important;
}
.center-in {
  display: flex;
  justify-content: center;
}
.v-dialog .v-overlay__content {
  border-radius: 20px!important;
}
.swv-dropdown-list  {
  margin-right:  10px!important;
}
.medium-weight {
  font-weight: 300!important;
}
.align-left {
  align-content: left;
}
.mauto{
  margin: auto!important;
}
.h-18{
  height: 69px;
} 
.w-18{
  width: 69px;
}
.small-text {
  font-size: small;
}

.btn-overide {
  border-radius: 20px!important;
  background: black!important;

}

.center-inside {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*html {
  overflow: hidden;
}

body {
  overflow: hidden; 
}*/
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
}

p {
  word-break: break-word!important;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
.v-size--x-large {
  font-size: 84px!important;
}
.center-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.v-input .v-label {
    font-size: 13px!important;
    line-height: 25px!important;
}
  .nav {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  }
  .vsa{
    width: 100%!important;
    top: 0!important;
    position: fixed!important;
    z-index: 999999!important;
    background: #ffffffa3!important;
    backdrop-filter: blur(20px)!important;
  }
  .input-upload {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1000;
    cursor: pointer;
    z-index: 9999;
  }
  .focus-within\:ring-black-500:focus-within {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity));
  }
  .hover\:bg-indigo-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/ var(--tw-bg-opacity));
  }

  .hover\:text-indigo-500:hover {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/ var(--tw-text-opacity));
  }

  .focus\:border-indigo-500:focus {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
  }
  .bg-indigo-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  }
  .bg-black-600 {
    background-color: black;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  .spin-av {
      -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
      animation:spin 4s linear infinite;
  }
  @-moz-keyframes spin { 
      100% { -moz-transform: rotate(360deg); } 
  }
  @-webkit-keyframes spin { 
      100% { -webkit-transform: rotate(360deg); } 
  }
  @keyframes spin { 
      100% { 
          -webkit-transform: rotate(360deg); 
          transform:rotate(360deg); 
      } 
  }

  .plyr-controls {
    border-radius: 10px;
  }
  .plyr--video {
    background: white!important;
    border-radius: 10px;
  }
  .plyr-custom {
    object-fit: contain;
    
    max-width: 560px;
    max-height: 560px;
  }
  .plyr__video-wrapper {
    background: transparent;
  }
  .plyr button {
    color: white;
  }
  .br-10 {
    border-radius: 10px!important;
  }
  .mxh-5 {
    max-height: 560px;
  }
  .auto-marg {
    margin: 0 auto;
  }
  .con-multiples-imgs {
    width: auto;
    height: auto;
    /* background: rgb(138, 209, 39); */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin-bottom: 20px;
    z-index: 200;
  }
  .con-multiple {
    width: 100%;
    height: auto;
    background: rgb(240, 240, 240);
    border-radius: 10px;

  }
  .con-multiple-upload {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .con-imgs {
    width: 170px;
    height: 170px;
    left: 0px;
    top: 0px;
    position: relative;
    float: left;
    /* background: rgb(170, 79, 155); */

    display: flex;
    align-items: center;
    justify-content: center;
    /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
    /* box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1); */
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
  }
  .con-multiples-imgs li {
    /* display: block; */
    z-index: 100;
    position: relative;
  }
  .con-multiples-imgs li img {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }
  .x-img {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 30px;
    height: 30px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
  }
  .x-img i {
    font-size: 18px;
  }
  .center-vertical {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }