<script>
 import Drawer from '../components/Drawer'
 import Navigation from '../components/Navbar'
 import Pard from '../components/Pard'
 import Panel from '../components/Panel'

 export default {
 	data: () => {
 		return {
 			scrollTop: 0,
 			downScroll: false,
 			upScroll: false,
 			loading: true
 		}
 	},
 	mounted(){
 		this.$store.dispatch('fetchNfts',{})
 	},
 	computed: {
 		feed(){
 			return this.$store.state.feed
 		}
 	},
 	watch: {
 		feed(x){
 			if (x != null) {
 				this.loading = false
 			}
 		}
 	},
 	components: {
 		Drawer,
 		Navigation,
 		Panel,
 		Pard
 	},

 	methods: {
 	  handleScroll (event) {
		if (event.target.scrollTop > this.scrollTop){
		  // downscroll code
		  this.downScroll = true
		  this.upScroll = false
		} else {
		 // upscroll code
		 this.downScroll = false
		 this.upScroll = true
		}
		this.scrollTop = event.target.scrollTop
 	  }
 	}
 }
</script>
<template>
	<v-app style="
		overflow: auto;
	    max-height: 100vh;" v-on:scroll.native="handleScroll">
	    <transition name="fade">
	    	 <navigation v-show="scrollTop < 30 || upScroll"></navigation>
	    </transition>
	   
		<v-container fluid class=pa-0>
			<v-layout row wrap class=pa-0>
				<v-col cols=12 sm=12 md=4 class="hidden-sm-and-down pa-0" style="position: fixed;">
					<drawer></drawer>
				</v-col>
				<v-col cols=12 sm=12 md=4 class="hidden-sm-and-down pa-0">
				</v-col>

				<v-col cols=12 sm=12 md=4 class="pa-0 mb-16">
					<div class="my-17"></div>
					
					<pard 
						v-if="!loading"
						v-for="(item, i) in feed"
						:item="item"
						:key="i">					
					</pard>

					<!-- <vue-feather v-else type="loader"  stroke="black" :stroke-width="2.3" size=50 class=spin-av></vue-feather> -->
				</v-col>
				<v-col cols=12 sm=12 md=4 class="hidden-sm-and-down pa-0">
				</v-col>

				<v-col cols=12 sm=12 md=4 class="hidden-sm-and-down pa-0" style="position: fixed;right: 0;">
					<panel></panel>
				</v-col>
			</v-layout>	
		</v-container>
		<bottombar></bottombar>
	</v-app>
</template>

<style>
	.ml-35 {
		margin-left: 130px!important;
	}
	.blk {
		background: black!important;
	}
	.v-toolbar {
		flex: none!important;
	}
	.my-17 {
		margin-top: 69px;
	}

	@media only screen and (max-width: 959px) {
		.vsa{
			width: 100%!important;
			top: 0!important;
			position: fixed!important;
			z-index: 999999!important;
		}
	}

	.fade-enter-active,
	.fade-leave-active {
	  transition: opacity 0.5s ease;
	}

	.fade-enter-from,
	.fade-leave-to {
	  opacity: 0;
	}
	.v-img__img--contain {
	    object-fit: cover!important;
	}
</style>
