<script>
 import Navigation from '../components/Navbar'
 import QRCodeVue3 from 'qrcode-vue3'

 export default {
 	data: () => {
 		return {
 			load: true,
 			text: 'center',
 		}
 	},
 	components: {
 		Navigation,
 		QRCodeVue3
 	},
 	computed: {
 		nft(){
 			return this.$store.state.nft
 		}
 	},
 	watch: {
 		nft(x){
 			if (x != null) {
 				this.load = false
 			}
 		}
 	},
 	mounted(){
 		const f = new FormData()
 		f.append('uuid', this.$route.params.account)
 		this.$store.dispatch('retrieveNFT', f)
 	}
 }
</script>
<template>
	<v-app>
		<navigation></navigation>

		<v-container fluid>
			<vue-feather v-if="load" type="loader"  stroke="black" :stroke-width="2.3" size=50 class="spin-av mt-16"></vue-feather>
			<section v-else class="text-gray-600 body-font overflow-hidden">
			  <div class="container px-5 py-24 mx-auto">
			    <div class="mx-auto flex flex-wrap">
			     <div class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded">
			     	<v-row>
			     		<v-col
		     		      cols="12"
		     		      class="py-2 mb-4"
		     		    >


		     		      <v-btn-toggle
		     		        v-model="text"
		     		        tile
		     		        dark
		     		        color="#6a1a4c"
		     		        group
		     		      >
		     		        <v-btn value="left" :class="{whiteText: (text == 'left') ? true : false}">
		     		          QR
		     		        </v-btn>

		     		        <v-btn value="center" :class="{whiteText: (text == 'center') ? true : false}">
		     		          NFT
		     		        </v-btn>

		     		      </v-btn-toggle>
		     		    </v-col>				     	
				    </v-row>
			     	<QRCodeVue3  :value="$route.params.account"/>
			     </div>

			      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0" style="margin-top: 94px!important;">
			        <h2 class="text-sm title-font text-gray-500 tracking-widest text-left font-weight-bold">{{nft.account.substr(0, 3) + '...' + nft.account.slice(-3)}}</h2>
			        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1 text-left">Untitled</h1>
			        <p class="leading-relaxed text-left">No Description</p>
			        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">

			          <div class="flex ml-6 items-center">
			            <div class="relative">
			              
			            </div>
			          </div>
			        </div>
			        <div class="flex">
			          <!-- <span class="title-font font-medium text-2xl text-gray-900">$58.00</span> -->
			          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" style="background: #6a1a4c!important;">Place Bid</button>
			          <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
			            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
			              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
			            </svg>
			          </button>
			        </div>
			      </div>
			    </div>
			  </div>
			</section>
		</v-container>		
	</v-app>



</template>
<style>
	.whiteText {
		color: white!important;
	}
</style>