<template>
  <v-app>
  <qrcode-stream  @decode="onDecode" @init="logErrors" :style="{height:  (display.mobile.value ) ? '380px' : '660px' }">
  </qrcode-stream>
  <v-layout row wrap>
    <v-col cols=12  class="center-inside">
          <Transition name="slide-up">
            <v-card class="elevation-0 pa-5 qr-card" dark v-if="fullscreen">

              <div class="center-in">
               <img src="/static/qr.gif" style="height: 160px"> 
              </div>


              <div class="center-in">
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-1 text-left ">Scan NFT Ticket</h1>
              </div>
              <div class="center-in">
                <p class="leading-relaxed text-left">Verify your NFT QR Code </p>
              </div>


              <div class="center-in">
                <router-link to="/">
                  <img
                    src="/static/ripplerick.png"
                    alt="Avatar"
                    width=99
                    
                  >
                </router-link>
              </div>

            </v-card>
          </Transition>

    </v-col>
  </v-layout>
 

 <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
 </div>


  </v-app>

</template>

<script>
import { QrcodeStream } from 'vue3-qrcode-reader'
import Navigation from '../components/Navbar'
import { useDisplay } from 'vuetify'


// NOTE: calling `requestFullscreen` might prompt the user with another
// permission dialog. You already asked for camera access permission so this is
// a rather invasive move.
//
// Even without calling `requestFullscreen` the entire viewport is covered
// by the camera stream. So consider skipping `requestFullscreen` in your
// implementation.

export default {

  components: { QrcodeStream, Navigation },

  data () {
    return {
      fullscreen: true
    }
  },

  setup () {
    const display = useDisplay()

    return { display }
  },

  mounted(){
    console.log(this.display.mobile.value)
  },

  watch: {
    fullscreen(enterFullscreen) {
      if (enterFullscreen) {
        this.requestFullscreen()
      } else {
        this.exitFullscreen()
      }
    }
  },

  methods: {
    onDecode(url) {
      if (url != '') {
       this.$router.push(`/nfty/${url}`)
      }
    },

    async onInit (promise) {
      try {
        await promise
      } catch (error) {
        if (error.name === 'NotAllowedError') {
          this.error = "ERROR: you need to grant camera access permission"
        } else if (error.name === 'NotFoundError') {
          this.error = "ERROR: no camera on this device"
        } else if (error.name === 'NotSupportedError') {
          this.error = "ERROR: secure context required (HTTPS, localhost)"
        } else if (error.name === 'NotReadableError') {
          this.error = "ERROR: is the camera already in use?"
        } else if (error.name === 'OverconstrainedError') {
          this.error = "ERROR: installed cameras are not suitable"
        } else if (error.name === 'StreamApiNotSupportedError') {
          this.error = "ERROR: Stream API is not supported in this browser"
        } else if (error.name === 'InsecureContextError') {
          this.error = 'ERROR: Camera access is only permitted in secure context. Use HTTPS or localhost rather than HTTP.';
        } else {
          this.error = `ERROR: Camera error (${error.name})`;
        }

        this.$router.push('/')
      }
    },



    logErrors (promise) {
      promise.catch(console.error)
      
    }
  }

}
</script>

<style scoped>
.fullscreen {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.fullscreen-button {
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
}
.fullscreen-button img {
  width: 2rem;
}
.qrcode-stream-camera {
	border-radius: 20px!important;
}
.qr-card{
  position: fixed;
  width: 100%;
  border-radius: 20px;
  margin-top: -20px;
  z-index: 999;
  background: white;
}
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 1s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
</style>
