<script>
 import Drawer from '../components/Drawer'
 import Navigation from '../components/Navbar'
 import FileUploader from '../components/FileUploader'
 import FileForm from '../components/FileForm'
 import { v4 as uuidv4 } from 'uuid'

 export default {
 	data: () => {
 		return {
 			scrollTop: 0,
 			downScroll: false,
 			upScroll: false,
 			fuid: null,
 		}
 	},
 	components: {
 		Drawer,
 		Navigation,
 		FileUploader,
 		FileForm
 	},
 	mounted(){
 		this.fuid = uuidv4()
 	},
 	computed: {
 		file(){
 			return this.$store.state.file
 		}
 	},
 	watch: {
 		file(){
 			this.fuid = uuidv4()
 		}
 	},
 	methods: {
 	  handleScroll (event) {
		if (event.target.scrollTop > this.scrollTop){
		  // downscroll code
		  this.downScroll = true
		  this.upScroll = false
		} else {
		 // upscroll code
		 this.downScroll = false
		 this.upScroll = true
		}
		this.scrollTop = event.target.scrollTop
 	  }
 	}
 }
</script>
<template>
	<v-app style="
		overflow: auto;
	    max-height: 100vh;" v-on:scroll.native="handleScroll">
	    <transition name="fade">
	    	 <navigation ></navigation>
	    </transition>
	   
		<v-container fluid >
			<v-layout row wrap class="justify-center">
				<v-col cols=12  >
					<file-uploader :key="fuid"></file-uploader>
					<v-layout row wrap class="justify-center mb-16">
						<v-col cols=12 md=6>
							<file-form></file-form>
						</v-col>
					</v-layout>
					
				</v-col>

			</v-layout>	
		</v-container>
		<bottombar></bottombar>
	</v-app>
</template>

