<script>
	export default {
		data: () => {
			return {
				deviceWidth: 0
			}
		},
		props: ['audata'],
		created() {
			if (window.innerWidth > 959) {
			  this.deviceWidth = 320
			}else{
			  this.deviceWidth = window.innerWidth - 70
			}

			if (window.innerWidth > 1000) {
			  this.deviceWidth = Math.floor(window.innerWidth / 3)
			}
		},

		methods: {
			playAudio(e){
			 var u =  document.getElementById('aud').querySelector('div')
			 var aud = u.querySelector('audio')

			 aud.play()
			}
		}
	}
</script>
<template>
	  <div class="podcast">
	  	<div class="text-left">
	  		<a icon @click="playAudio">
	  			<vue-feather type="play-circle"></vue-feather>
	  		</a>	
	  	</div>
	  	
	    <h3 class="podcast__episode_title text--left">Untitled Track</h3>
	    <h5 class="podcast__title text--left">
	      Someuser
	      <i>Episode 1</i>
	    </h5>

	    <av-circle
	      v-if="audata != null "
	      id="aud"
	      :outline-width="0"
	      :progress-width="5"
	      outline-color="#000"
	      progress-color="#000"
	      :audio-controls="true	"
	      bar-color="#000"
	      :outline-meter-space="5"
	      playtime-font="16px ui-sans-serif"
	      playtime-color="#fff"
	      :playtime="true"
	      :audio-src="audata"
	      style="float: right;"
	    ></av-circle>
	  </div>
</template>
<style>
	audio {
		display: none;
	}
	.text-left {
		text-align: left!important;
	}
	.container {
		 width: 800px;
		 margin: 30px auto;
	}
	 .mejs__container {
		 margin-top: 10px;
	}
	 .mejs__controls {
		 display: block;
	}
	 .mejs__controls, .mejs__container {
		 background: none !important;
	}
	 .mejs__time {
		 color: #777;
		 font-weight: normal;
	}
	 .podcast {
		 background: transparent;
		 padding: 30px;
		 border-radius: 3px;
	}
	 .podcast__episode_title {
		 font-size: 28px;
		 font-weight: bold;
		 line-height: 1.5;
		 margin-bottom: 0;
		 text-align: left;
		 padding-bottom: 0;
		 margin-top: 0;
		 color: #333;
	}
	 .podcast__title {
		 margin-top: 10px;
		 text-transform: uppercase;
		 font-size: 11px;
		 text-align: left;
		 color: #555;
	}
	 .podcast__title i {
		 font-style: normal;
		 font-weight: normal;
		 text-transform: capitalize;
		 margin-left: 10px;
	}
	 .podcast__meta {
		 background: #ddd;
		 margin: 40px -30px -30px -30px;
		 display: flex;
		 justify-content: space-between;
		 border-bottom-left-radius: 3px;
		 border-bottom-right-radius: 3px;
	}
	 .podcast__meta .artwork {
		 margin-right: 0;
		 transform: translateY(-70px);
	}
	 .podcast__meta .artwork > img {
		 border-radius: 3px;
		 width: 150px;
		 height: 150px;
		 box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
		 margin-bottom: -80px;
	}
	 .mejs-prepended-buttons {
		 display: flex;
	}
	 .mejs-appended-buttons {
		 display: flex;
		 justify-content: space-evenly;
	}
	 .mejs__play > button {
		 background: transparent url('https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg') no-repeat;
	}
	 .mejs__pause > button {
		 background: transparent url('https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg') no-repeat;
		 background-position: -20px 0;
	}
	 .mejs__mute > button {
		 background: transparent url('https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg') no-repeat;
		 background-position: -60px 0;
	}
	 .mejs__unmute > button {
		 background: transparent url('https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg') no-repeat;
		 background-position: -40px 0;
	}
	 .mejs-skip-back-button > button, .mejs__skip-back-button > button {
		 background: transparent url('https://cdn.jsdelivr.net/gh/ivorpad/images-src/skipback.svg');
	}
	 .mejs-jump-forward-button > button, .mejs__jump-forward-button > button {
		 background: url('https://cdn.jsdelivr.net/gh/ivorpad/images-src/jumpforward.svg') no-repeat;
	}
	 .mejs__button > button {
		 color: #555;
	}
	 .mejs__horizontal-volume-slider {
		 display: none !important;
	}
	 
</style>