<script>
export default {
	data: () => {
		return {
			active: ''
		}
	},
}
</script>
<template>
	<v-bottom-navigation
	  class="bt-bar hidden-md-and-up "
	  dark
	  v-model="active"
	>
	  <v-btn icon value="messages" class="px-1 mxw-7">
	    <vue-feather type="message-circle" stroke="black" :stroke-width="2.3"></vue-feather>
	  </v-btn>

	  <v-btn icon value="settings" class="px-1 mxw-7">
	     <vue-feather type="user"  stroke="black" :stroke-width="2.3"></vue-feather>
	  </v-btn>

	  <v-btn icon value="home" class="px-1 mxw-7">
	   <vue-feather type="home"  stroke="black" :stroke-width="2.3"></vue-feather>
	  </v-btn>

	  <v-btn icon value="notifications" class="px-1 mxw-7">
	    <vue-feather type="bell"  stroke="black" :stroke-width="2.3"></vue-feather>
	  </v-btn>
	  <v-btn icon value="settings" class="px-1 mxw-7">
	    <vue-feather type="settings"  stroke="black" :stroke-width="2.3"></vue-feather>
	  </v-btn>
	</v-bottom-navigation>
</template>

<style>
 .bt-bar {
 	bottom: 0!important;
 	position: fixed!important;
 	z-index: 99999!important;
 	transform: none!important;
 	width: 100%!important;
 }
 .v-item-group.v-bottom-navigation .v-btn{
 	min-width: 0!important;
 	width:70px!important;
 }
 .mxw-7 {
 	min-width: calc(20%)!important;
 }
</style>