<script>
  import signTx from '../mixins/xumm' 
  import WalletModal from './WalletModal'
  import Cookies from 'js-cookie'

  export default {
    data () {
      return {
        dialog: true,
        items: [
          { title: 'Home', path: '', icon: 'mdi-view-dashboard' },  
          { title: 'Search', path: 'search', icon: 'mdi-gavel' },
          { title: 'Settings', path: 'settings', icon: 'mdi-gavel' },
        ],
      }
    },
    components: {
      WalletModal
    },
    computed: {
      wsd(){
        return this.$store.state.wsd
      },
      acc: {
        get(){
          if (Cookies.get('acc') != undefined) {
            return Cookies.get('acc')
          }else{
            return this.$store.state.acc
          } 
        },
        set(x){
          this.$store.commit('SET_ACC', x)
        }
      }
    },
    watch: {
      wsd(x){
        if (x.hasOwnProperty('txid')) {
          this.dialog = false
        }
      }
    },
    mixins: [signTx],
    mounted(){
      var wsd = this.$store.state.wsd
      var acc = Cookies.get('acc')
      if (wsd != null || acc != undefined) {
        this.dialog = false
        this.acc = acc
      }else{
        this.getAcc()
      }
    }
  }
</script>
<template>
  <div>
    <wallet-modal :dialog="dialog" @setTest="dialog = false"></wallet-modal>
    <v-card
      class="mx-auto hide-overflow text-right elevation-0 pa-12"
      width="100%"
      height="100vh"
    > 
      <div class="flex flex-col py-4">
        <a class="px-3 py-2 mt-2 text-lg font-medium rounded-sm" href="#">Home</a>
        <a class="px-3 py-2 mt-2 text-lg font-medium rounded-sm" href="#">Discover</a>
        <a class="px-3 py-2 mt-2 text-lg font-medium rounded-sm" href="#">Notifications</a>
        <a class="px-3 py-2 mt-2 text-lg font-medium rounded-sm" href="#">Inbox</a>
        <a class="px-3 py-2 mt-2 text-lg font-medium rounded-sm" href="#">Saved Posts</a>
        <a class="px-3 py-2 mt-2 text-lg font-medium rounded-sm" href="#">Groups</a>
        <a class="px-3 py-2 mt-2 text-lg font-medium rounded-sm" href="#"  v-if="acc == null">
          <a @click="rAcc" target="_blank">
            <button class="swv-button swv-button-trigger"> 
              Connecting&nbsp; 
              <vue-feather type=loader class="white spin-av"></vue-feather>
             </button>
          </a>
        </a>
        <a class="px-3 py-2 mt-2 text-lg font-medium rounded-sm" href="#"  v-if="acc != null">
          <span class="flex-shrink-0 w-10 h-10 bg-gray-400 rounded-full"></span>
          <div class="flex flex-col ml-2">
            <span class="mt-1 text-sm font-semibold leading-none"><span class="flex-shrink-0 w-10 h-10 bg-gray-400 rounded-full"></span>{{acc.substr(0, 3) + '...' + acc.slice(-4)}}&nbsp;</span>
            <span  class="mt-1 text-xs leading-none">@{{acc.substr(0, 3) + '...' + acc.slice(-4)}}&nbsp;</span>
          </div>
          
        </a>

      </div>
    </v-card>
  </div>

</template>

<style>
  .br-0 {
    border-radius: 0!important;
  }
  .hide-overflow {
    overflow: hidden!important; 
  }
  .mt-20 {
    margin-top: 500px;
  }
  .ml-20 {
    margin-left: 100px!important;
  }
  .bottom-ab {
    bottom: 0;
  }

</style>