<script>
  import mintMix from '../mixins/mint'
  import ipfsMix from '../mixins/ipfs'
  import mintXRP from '../mixins/xrpl'

  export default {
  	computed: {
  		seed: {
  			get(){
  				return this.$store.state.seed
  			},
  			set(x){
  				this.$store.commit('SET_SEED', x)
  			}
  		},
  		description: {
  			get(){
  				return this.$store.state.description
  			},
  			set(x){
  				this.$store.commit('SET_DESCRIPTION', x)
  			}
  		},
  		royalties: {
  			get(){
  				return this.$store.state.royalties
  			},
  			set(x){
  				this.$store.commit('SET_ROYALTIES', x)
  			}
  		},
  		ticket: {
  			get(){
  				return this.$store.state.ticket
  			},
  			set(x){
  				this.$store.commit('SET_TICKET', x)
  			}
  		},
  		nsfw: {
  			get(){
  				return this.$store.state.nsfw
  			},
  			set(x){
  				this.$store.commit('SET_NSFW', x)
  			}
  		}
  	},
  	mixins: [mintMix, ipfsMix, mintXRP]
  }
</script>
<template>
	<div class=" sm:rounded-md sm:overflow-hidden">

	  <div class="bg-white space-y-6 sm:p-6">
	  	<div class="flex items-center justify-between">
		  	<label for="seed" class="block text-sm font-medium text-gray-700 text-left"> Seed </label>
		  	<a href="https://xrpl.org/xrp-testnet-faucet.html" target="_blank" class="text-sm font-medium text-indigo-600 hover:text-indigo-500">Generate</a>
		  </div>
	  	<div class="mt-1">
	  	  <textarea v-model="seed"  name="seed" id="seed" class="	shadow-sm focus:ring-black	-500 focus:border-black	-500 pr-2 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" placeholder="sneDdgPUTdzAqq8zqLovj" />
	  	</div>
	  	<p class="mt-2 text-sm text-gray-500 text-left">Derive a wallet from a base58 encoded seed secret.</p>

	    <div>
	      <label for="description" class="block text-sm font-medium text-gray-700 text-left"> Description </label>
	      <div class="mt-1">
	        <textarea v-model="description"  id="description" name="description" rows="3" class="shadow-sm focus:ring-black	-500 focus:border-black	-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" placeholder="In a galaxy far far away..." />
	      </div>
	      <p class="mt-2 text-sm text-gray-500 text-left">Brief description for your non fungible token.</p>
	    </div>
	    <div>
  		  <div class="flex items-center justify-between">
  		    <label for="price" class="block text-sm font-medium text-gray-700 text-left">Royalties </label>
  		    <a href="https://xrpl.org/xrp.html" target="_blank" class="text-sm font-medium text-black-600 hover:text-black-500">Drop</a>
  		  </div>

  	    
  	    <div class="mt-1 relative rounded-md shadow-sm">
  	      <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
  	        %
  	      </div>
  	      <input type="number" v-model="royalties" maxlength="5" name="royalty" min="0" max="50" id="royalty" class="focus:ring-black -500 focus:border-black -500 block w-full pl-9 pr-12 sm:text-sm border-gray-300 rounded-md" placeholder="10%" />
  	    </div>
  	    <label for="royalty" class="block text-sm font-medium text-gray-700 text-left">Rates between 0.000% and 50.000% in increments of 0.001%.</label>
	    </div>
	    <div>
	    	  <div class="flex items-center justify-between">
	    	    <label for="price" class="block text-sm font-medium text-gray-700 text-left"> Options  </label>
	    	    <a href="https://xrpl.org/xrp.html" target="_blank" class="text-sm font-medium text-black-600 hover:text-black-500"></a>
	    	  </div>

	        
	        <div class="mt-1 relative rounded-md shadow-sm">
	        	<v-switch
	        	  v-model="ticket"
	        	  inset
	        	  hide-details
	        	  :label="`Non fungible Ticket ${(ticket) ? '✔️' : '❌'}`"
	        	></v-switch>
	        	<v-switch
	        	  v-model="nsfw"
	        	  inset
	        	 
	        	  :label="`Age Restricted ${(nsfw) ? '✔️' : '❌' }`"
	        	></v-switch>
	        </div>
	     </div>
	  </div>
	  <div class=" py-3 text-right sm:px-6">
	  <a @click.prevent="uploadToIPFS" v-if="!$store.state.uploading">
	  	<button class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-black-600 hover:bg-black-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black-500">Mint</button>
	  </a>
	  <div class="text-center" v-else>
	  	<vue-feather type=loader class=spin-av></vue-feather>
	  	
	  	<v-row
	  	  class="fill-height"
	  	  align-content="center"
	  	  justify="center"
	  	>
	  		<v-col
	  		  cols="12"
	  		>
	  		 <p class="text-sm font-medium text-black-600 hover:text-black-500">This may take a while</p>
	  		</v-col>
<!-- 	  	  <v-col
	  	    cols="6"
	  	  >
	  	   <v-progress-linear
	  	     color="black"
	  	     :value="$store.state.progress"
	  	     rounded
	  	     height="6"
	  	   ></v-progress-linear>
	  	  </v-col> -->
	  	</v-row>

	  </div>
	  
	   
	  </div>
	</div>



</template>
