<script>
	import Plyr from 'plyr';
	import AudioPlayer from './AudioPlayer'

	export default {
		data: () => {
			return {
				readFile: null
			}
		},
		components: {
			AudioPlayer
		},
		computed: {
			codec: {
				get(){
					return this.$store.state.codec
				},
				set(x){
					this.$store.commit('SET_CODEC', x)
				}
			}
		},
		mounted(){
			// Change the second argument to your options:
			// https://github.com/sampotts/plyr/#options
			// Expose player so it can be used from the console

			const player = new Plyr(document.getElementById('player'), {
				title: 'Example Title',
				settings: ['captions', 'quality', 'speed', 'loop'],
				controls: [  'volume', 'current-time', 'play'],
				fullscreen: {enabled: false}

			});

			var reader  = new FileReader()

			reader.addEventListener("load",  () => {
			  // convert image file to base64 string
			  this.readFile = reader.result

			  var file = this.$store.state.file

			  var str = file.type.split('/')

			  this.codec = str[0]

			}, false)

			
			reader.readAsDataURL(this.$store.state.file)

		}
	}
</script>
<template>
	<v-container class=justify-center>
		<v-card class="elevation-0 justify-center">
	      	<v-col cols=12  md="7" class="mt-16 justify-center auto-marg">
			    <div class="con-multiple-upload"> 
			      <ul ref="ulmultiple" class="con-multiples-imgs" style="max-width: 560px;">
			        <li class="con-imgs pa-0 ma-0" style="width: auto;height: auto;">
			          <img v-show="readFile != null && codec == 'image'" :src="readFile" alt="">
			        </li>	          		        
			        <li class="con-imgs pa-0 ma-0" style="width: auto;height: auto;" v-show="readFile != null && codec == 'video'">
			        	<video id=player  :src="readFile" class="br-10 elevation-2 plyr-custom" controls crossorigin playsinline style="--plyr-color-main: transparent;">
			        	</video>
			        </li>
			      </ul>
				</div>
	      	</v-col>	
	      	<v-col cols=12 md=7 v-show="readFile != null && codec == 'audio'" class="justify-center auto-marg pa">
	      		<audio-player :audata="readFile"></audio-player>
	      	</v-col>	
		</v-card>
	</v-container>


</template>