<script>
 export default {
    data: () => {
        return {
            error: false
        }
    },
 	props: ['file'],
 }
</script>
<template>
    <div>
        <img 
            v-if="!error" 
            @error="error = true" 
            class="mt-1" 
            lazy-src="/static/loading.gif" 
            :src="`https://gateway.pinata.cloud/ipfs/${JSON.parse(file).IpfsHash}`" 
            alt="" 
            style="border-radius: 10px;"/>
        <v-img v-else src="/static/original.gif" alt="" style="border-radius: 30px;"/>
        <p v-if="error">Try again later, there have been too many requests for this in a short period of time. </p>
    </div>
	
</template>