<script>
  import { useStore } from 'vuex'
  import { computed } from 'vue'

  export default {
    methods: {
      setFile(){
        this.$store.commit('SET_FILE', this.$refs.uploader.files[0])
        this.$router.push('/upload')
      }
    }
    // setup () {
    //   const store = useStore()
    //   return {
    //     // access a state in computed function
    //     count: computed(() => store.state.count)
    // }
  }
</script>
<template>
  <v-toolbar
    dark
    flat
    fixed
    dense
    class="vsa pa-0"
    style="position: fixed;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"
    background="white"
    elevation-1
  >
    <div class="mr-16 hide-956"></div>
    <div class="mr-16 hide-956"></div>
    <div class="mr-16 hide-956"></div>
    <div class="hidden-md-and-up">
      <router-link to="/qr">
        <v-btn icon>
          <vue-feather type="aperture"></vue-feather>
        </v-btn> 
      </router-link>

    </div>

     <v-spacer class="hidden-md-and-up"></v-spacer>
     <router-link to="/">
       <img
         src="/static/ripplerick.png"
         alt="Avatar"
         width=99
         
       >
     </router-link>

    <v-spacer ></v-spacer>


    <div class="hidden-sm-and-down">

      <router-link to="/qr">
        <v-btn icon>
          <vue-feather type="aperture"></vue-feather>
        </v-btn> 
      </router-link>
      <v-btn icon>
        <vue-feather type="message-circle"></vue-feather>
      </v-btn>

    </div>
      <v-btn icon >
        <vue-feather type="upload"></vue-feather>
        <input 
          class="input-upload" 
          ref="uploader" 
          accept="video/*,image/*, audio/*" 
          @change="setFile" 
          type="file" >
      </v-btn>


    <div class="ml-16 hide-956"></div>
    <div class="ml-16 hide-956"></div>
    <div class="ml-16 hide-956"></div>
  </v-toolbar>
</template>
<style>
 @media (max-width: 960px) {
  .hide-956 {
    display: none!important;
  }
 }

</style>