<template>
  <div class="flex flex-col flex-shrink-0 w-1/4 py-4 pl-4">
    <!-- <input class="flex items-center h-8 px-2 border border-gray-500 rounded-sm" type="search" Placeholder="Search…"> -->
    <div>
      <h3 class="mt-6 font-semibold">Trending</h3>
      <div class="flex w-full py-4 border-b border-gray-300">
        <span class="flex-shrink-0 w-10 h-10 bg-gray-400 rounded-full"></span>
        <div class="flex flex-col flex-grow ml-2">
          <div class="flex text-sm">
            <span class="font-semibold">Username</span>
            <span class="ml-1">@username</span>
          </div>
          <p class="mt-1 text-sm text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, et dolore magna aliqua. <a class="underline" href="#">#hashtag</a></p>
        </div>
      </div>
      <div class="flex w-full py-4 border-b border-gray-300">
        <span class="flex-shrink-0 w-10 h-10 bg-gray-400 rounded-full"></span>
        <div class="flex flex-col flex-grow ml-2">
          <div class="flex text-sm">
            <span class="font-semibold">Username</span>
            <span class="ml-1">@username</span>
          </div>
          <p class="mt-1 text-sm text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, et dolore magna aliqua. <a class="underline" href="#">#hashtag</a></p>
        </div>
      </div>
      <div class="flex w-full py-4 border-b border-gray-300">
        <span class="flex-shrink-0 w-10 h-10 bg-gray-400 rounded-full"></span>
        <div class="flex flex-col flex-grow ml-2">
          <div class="flex text-sm">
            <span class="font-semibold">Username</span>
            <span class="ml-1">@username</span>
          </div>
          <p class="mt-1 text-sm text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, et dolore magna aliqua. <a class="underline" href="#">#hashtag</a></p>
        </div>
      </div>
    </div>
  </div>
</template>
