<script>
	import ImageViewer from './ImageViewer'
	import VideoPlayer from './VideoPlayer'

	export default {
		props: ['item'],
		components: {
			ImageViewer,
			VideoPlayer
		}
	}
</script>
<template>
	<div class="pard" >
		<div class="flex w-full p-8 border-b border-gray-300">
			<span class="flex-shrink-0 w-12 h-12 bg-gray-400 rounded-full"></span>
			<div class="flex flex-col flex-grow ml-4">
				<div class="flex">
				   	 <router-link :to="`/nfty/${item.uuid}`">
			   	 	    <span class="font-semibold">{{item.account.substr(0, 3) + '...' + item.account.slice(-3)}}
			   	 	    	<div>
			   	 	    		<span class="ml-1">
			   	 	    			<v-label class="small--text">
			   	 	    			@{{item.account.substr(0, 3) + '...' + item.account.slice(-3)}}
			   	 	    			</v-label>
			   	 	    		</span>
			   	 	    	</div>
			   	 	    </span>
				   	 </router-link>									

					
					<span class="ml-auto text-sm">Just now</span>
				</div>
				<p class="mt-1 text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a class="underline" href="#">#hashtag</a></p>
				<div class="flex items-center justify-center mt-2">
				    <div class="con-multiple-upload"> 
				      <ul ref="ulmultiple" class="con-multiples-imgs" style="max-width: 560px;">
				        <li class="con-imgs pa-0 ma-0" style="width: auto;height: auto;">
				         <div v-if="item.codec == 'image'">
				         		<image-viewer :file="item.ipfs"></image-viewer>
				         	</div>
				         	<div v-if="item.codec == 'video'">
				         		<video-player :file="item.ipfs" :key="i"></video-player>
				         	</div>	
				        </li>	          		        
				      </ul>
					</div>									
				</div>
				<div class="flex mt-2">
					<button class="text-sm font-semibold">Like</button>
					<button class="ml-2 text-sm font-semibold">Reply</button>
					<button class="ml-2 text-sm font-semibold">Share</button>
				</div>
			</div>
		</div>						
	</div>
</template>