<!-- This example requires Tailwind CSS v2.0+ -->
<script setup>
import { WalletMultiButton } from 'solana-wallets-vue'
</script>
<template>
  <div class="relative bg-white overflow-hidden">
    <div class="pt-16 pb-80 mt-16  m:pb-40 lg:pb-48">
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6  sm:static">
        <div class="text-center">

          <h1 class="text-4xl font font-extrabold tracking-tight text-gray-900 sm:text-6xl">Connect Your Wallet</h1>
          <p class="mt-4 text-xl text-gray-500">This year, our new summer collection will shelter you from the harsh elements of a world that doesn't care if you live or die.</p>

         <div class="mt-4">

         </div>
        </div>


      </div>
    </div>
  </div>
</template>
