<script>
 import Plyr from 'plyr';
 export default {
 	props: ['file', 'id'],
 	mounted(){
 		const player = new Plyr(document.getElementById(`player${this.id}`), {
 			title: 'Example Title',
 			settings: ['captions', 'quality', 'speed', 'loop'],
 			controls: [  'volume', 'current-time', 'play'],
 			fullscreen: {enabled: false}
 		})
 	}
 }
</script>
<template>
  <video 
    :id="`player${id}`" 
    :src="`https://gateway.pinata.cloud/ipfs/${JSON.parse(file).IpfsHash}`" 
    class="br-10 elevation-2 plyr-custom" 
    controls 
    crossorigin 
    playsinline 
    style="--plyr-color-main: transparent;">
  </video>
</template>