<script>
  import signTx from '../mixins/xumm' 

  export default {
    data: () => {
      return {
        clicked: false,
        
      }
    },
    computed: {
      remember: {
        get(){
          return this.$store.state.remember
        },
        set(x){
          this.$store.commit('SET_REMEMBER', x)
        }
      }
    },
    props: ['dialog'],
    mixins: [signTx]

  }
</script>
<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <v-dialog
    v-model="dialog"
    persistent
    transition="dialog-top-transition"
  >
    <v-card height="360px">
      <v-toolbar
        color="white"
        class="gray--text elevation-0"
        
      >
        <v-spacer></v-spacer>
        <div class="mt-3" style="text-align: right;">
          <a @click.prevent="$emit('setTest')" style="color: darkgrey;font-size: 12px;">Cancel</a>
        </div>
      </v-toolbar>

      <div class="center-in mt-9">
        <img :src="`/static/rr.${(clicked) ? 'gif' : 'png'}`" style="height: 70px;border-radius: 50px;">
      </div>
      
      <v-card-text class=text-center>

        <p class="mt-3">You will be redirected to a xumm page/app to sign in</p>
      </v-card-text>
      <div class="text-center pa-2 mb-2 center-in">
        <a :href="$store.state.initTxQurl" target="_blank" @click="clicked = true">
          <button class="swv-button swv-button-trigger black"> Connect Wallet </button>
        </a>
      </div>



    </v-card>
  </v-dialog>
</template>